@import "variables.scss";
@mixin pseudo_function ($content, $position, $width, $height, $top, $right,  $bottom, $left, $bg) {
    content: $content;
    position:  $position;
    width: $width;
    height: $height;
    top: $top;
    right: $right;
    left: $left;
    bottom: $bottom;
    background: $bg;
}
@mixin nav_animation {
    transition-property: top, bottom, width;
    transition-duration: 0.2s, 0.2s, 0.35s;
    transition-timing-function: linear, linear, ease;
    -webkit-overflow-scrolling: touch;
}
@mixin btn-theme($bg, $colr,) {
  background-color: $bg;
  color: $colr;
  border: 2px solid $bg;
  font-size: 14px;
  box-shadow: 0 2px 2px 0 rgba(181, 179, 181, 14%), 0 3px 1px -2px rgba(179, 177, 179, 20%), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
  @include transition;
  &:hover {
    border-color: darken($bg, $amount: 3);
    background-color: darken($bg, $amount: 3);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(206, 206, 206, 40%);
    @include transition;
  }  
  &:focus {
    outline: none;
  }
}
@mixin transition {
    transition: all .3s linear;
}