@import "../base/variables";
@import "../base/mixin";
form {
    &.custom-form {
        input, textarea, select, .custom-datetime .custom-daterange .form-control {
            padding: 5px 0;
            border: none;
            background: no-repeat center bottom, center calc(100% - 1px);
            background-size: 0 100%, 100% 100%;
            height: 36px;
            transition: background 0s ease-out;
            background-image: linear-gradient(to top, color(primary-color) 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
            font-size: 14px;
            color: color(input);
            border-radius: 0;
            &:focus, &:active {
                background-color: transparent;
                background-size: 100% 100%, 100% 100%;
                transition-duration: 0.3s;
                box-shadow: none;
            }
            &::placeholder {
                color: color(placeholder);
            }
            &[disabled], &.disabled {
                background: lighten(color(nav-search), $amount: 30);
                border-radius: 3px;
            }
            &.invalid {
                background-image:linear-gradient(to top, color(multi-cancel) 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
                background-size: 100% 100%, 100% 100%;
            }
        }
        .invalid-message {
            font-size: 14px;
            color: color(multi-cancel);
            width: 100%;
        }
        textarea {
            height: 54px;
            overflow: auto !important;
        }
        .count-wrapper {
            span {
                color: color(nav-search);
                font-size: 14px;
                &.invalid {
                    color: lighten(color(action-cancel), $amount: 6);
                }
            }
        }
        .form-row {
            .form-group {
                div {
                    &:first-child {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                    }
                }
                &.datetime {
                    div {
                        &:first-child {
                            display: block;
                        }
                        &.vdatetime-popup__actions__button,.vdatetime-calendar__month div:first-child {
                            display: inline-block;
                        }
                        label, .vdatetime {
                            float: left;
                            width: 100%;
                            input {
                                width: 100%;
                                max-width: 100%;
                            }
                        }
                        label {
                            padding-top: 6px;
                        } 
                        .material-icons {
                            right: 7px;
                            font-size: 24px;
                            top: 6px;
                            color: color(heading-color);
                            @media screen and (max-width:575px) {
                                top: 34px;
                                right: 3px;
                            }
                        } 
                    }
                }

            }
            label {
                max-width: 23.38%;
                font-size: 14px;
                font-weight: 400;
                color: color(light-gray);
                @media screen and (max-width:575px) {
                   max-width: 100%;
                }
            }
            input, textarea, select, .count-wrapper, .vdatetime, .invalid-message  {
                max-width: 76%;
                &.full-width {
                    max-width: 100%;
                }
                @media screen and (max-width:575px) {
                   max-width: 100%;
                }
            }
            .invalid-message  {
                margin-left: auto;
            }
        }
        .upload-label {
            border: 2px dashed lighten(color(light-gray), $amount:6);
            padding: 35px 0;
            border-radius: 3px;
            color: lighten(color(light-gray), $amount:6);
            cursor: pointer;
            &:hover {
                background-color: lighten(color(light-gray), $amount:30);
            }

        }
        .custom-file-label {
            display: none;
        }
        .preview-image {
            width: 80px;
            height: 80px;
            position: relative;
            margin: 0 0 14px;
            img {
                border-radius: 4px;
                object-fit: cover;
                box-shadow: -2px 2px 3px rgba(125, 125, 125, 0.3), 1px 0px 8px rgba(212, 212, 212, 0.3);
                &.pdf-file {
                    object-fit: contain;
                    box-shadow: none;
                }
            }
            .cross {
                width: 24px;
                height: 24px;
                background-color: color(action-cancel);
                color: #fff;
                right: -9px;
                top: -8px;
                cursor: pointer;
                span {
                    font-size: 14px;
                    transform: rotate(0);
                    @include transition;
                }
                &:hover {
                    span {
                        transform: rotate(30deg);
                        @include transition;
                    }
                }
            }
        }
        select {
            option {
                font-size: 15px;
            }
        }
        .multiple-boxs {
            background-color: lighten(color(body-color), $amount: 4);
            padding: 10px 20px;
            border-radius: 4px;
            max-width: 95.5%;
            box-shadow: 0px 0px 4px rgba(58, 57, 57, 0.2);
            margin-top: 20px;
            &:first-child {
                margin-top: 0;
            }
            .right-btn {
                width: 24px;
                height: 24px;
                line-height: 27px;
                font-size: 28px;
                &.add {
                    color: lighten(color(action-edit), $amount: 16);
                    &:hover {
                        color: lighten(color(action-edit), $amount: 10);
                    }
                }
                &.remove {
                    color: color(action-cancel);
                    &:hover {
                        color: darken(color(action-cancel), $amount: 10);
                    }
                }
                &.view {
                    color: lighten(color(secondary-color), $amount:10);
                    &:hover {
                        color: lighten(color(secondary-color), $amount: 6);
                    }
                }
            }
        }
    }
}